.connection-form {
    margin: 20px;
    background: $colour-secondary;
    border-radius: 10px;
    padding: 20px;

    ul {
      display: flex;
      justify-content: center;
      margin-bottom: 18px;

      li {
        cursor: pointer;
        border-radius: 20px;
        padding: 12px 14px;
        transition: .2s;
        margin: 0 8px;
      }
      .active-btn {
        text-decoration: underline;

        &:hover {
            text-decoration: underline;
        }
      }
      li:not(.active-btn) {
        &:hover {
          transform: translateX(3px)
        }
      }
    }
    form {
        display: flex;
        flex-direction: column;
        align-items: center;
      input {
        padding: 10px 14px;
        margin: 0;
        font-size: 1.2rem;
        border-radius: 25px;
        border: none;
        
      }
      input[type=submit] {
        padding: 14px 14px;
        border-radius: 20px;
      }
    }
    .form-container{
      display:flex;
      flex-direction: column;
      align-items: center;
    }
  }

.post-form-preview{
  margin-top: 20px;
  
  .card-container{
    word-wrap: break-word; 

    .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 20px;
      .user-info{
        display: flex;
        align-items: center;
        img{
          margin-right: 20px ;
          height: 40px;
          width: 40px;
          border-radius: 50%;
        }
      }
    }
    .content{
      display: flex;
      flex-direction: column;
      img{
        margin: 20px auto;
        height: 500px;
        width: 500px;
        object-fit: scale-down;
      }
      @media screen and (max-width: 640px) {
        img{
            height:200px;
            width: 200px;
        }
    }
      
    }
    
  }
  .footer-form{
    .btn-send{
      display: flex;
      justify-content: center;
    }
  }
  
}

.post-container{
    background-color: $colour-secondary;
    margin: 20px;
    padding: 12px;
    border-radius: 10px;
    .post-form{
        display: flex;

        #user-img{
            width: 40px;
            height: 40px;
            object-fit: scale-down;
            border-radius: 50%;
            background-color: $colour-secondary-dark;
        }
        .message-decoration {
            margin-left: 10px;
            width: 100%;

            textarea{
                width: 100%;
                height: 20px;
                background-color: white;
                padding: 10px 0 10px 5px;
                resize: none;
                border-radius: 25px;
                overflow: hidden;

            }
        }
    }
    .icon{
      position: relative;
      cursor: pointer;
      width: 20px;
      height: 20px;
      margin-left: 80px;
      margin-top: 20px;
      
      input {
        width: 20px;
        height: 20px;
        position: absolute;
        transform: translate(0px, -3px);
        opacity: 0;
        cursor: pointer;
      }
    }
}