.profil-container{
    background-color: $colour-secondary;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    h1 {
        padding-bottom: 30px;
    }
    .update-container{
        display: flex;
        align-items: center;
        .left-part{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-right: 100px;
            
            h3{
                padding-bottom: 30px;
            }
            img{
                height:200px;
                width: 200px;
                background-color: $colour-secondary-dark;
                object-fit: scale-down;
                border-radius: 50%;
                margin-bottom: 30px;
            }
            .upload-pic{
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;

                label{
                    cursor: pointer;
                    background-color: $colour-tertiary;
                    border: none;
                    border-radius: 5px;
                    color: white;
                    padding: 7px 10px;
                    margin: 4px 2px;
                    cursor: pointer;
                    
                    &:hover{
                        background-color: $colour-secondary;
                        color: $colour-primary;
                        border: 1px solid;
                        border-color: $colour-tertiary;
                    }
                }
                input[type=file] {
                    display: none;
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    transform: translate(0px, -3px);
                    opacity: 0;
                    cursor: pointer;

                    &::-webkit-file-upload-button {
                    cursor: pointer;
                    }
                }
                input[type=submit] {
                    margin-bottom: 20px;
                }
            }
        }
        .right-part{
            margin-left: 20px;
            .bio-update{
                display: flex;
                flex-direction: column;
                align-items: center;
                h3{
                    margin-bottom: 20px;
                }
                p{
                    padding-left: 20px;
                    word-wrap: break-word;
                    width: 200px;
                }
                
            }
            textarea{
                width: 100%;
                display: block;
                margin-left: auto;
                margin-right: auto;
                height: auto;
                background-color: white;
                padding: 0px 0px 0px 0px;
                resize: none;
                border-radius: 5px;
                margin-bottom: 20px;

            }
        }
    }
    @media screen and (max-width: 740px) {
        .update-container{
            flex-direction: column;
            .right-part{
                margin-top: 50px;
                margin-left: 0px;
            }
            .left-part{
                margin-top: 20px;
                margin-right: 0px;
            }
        }
    }
    
}

