.active-btn{

    padding: 10px;
    width: 100px;
    display: flex;
    justify-content: center;
    
    &:hover {
        cursor: pointer;
    }
    

}

.logout{
    &:hover {
        cursor: pointer;
    }
}



.like-container{
    display: flex;
    
}

input[type=button], input[type=submit], button{
    background-color: $colour-tertiary;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    &:hover{
        background-color: $colour-secondary;
        color: $colour-primary;
        border: 1px solid;
        border-color: $colour-tertiary;
    }
  }

  .form-container{
    li {
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }

    }
  }